
:root {
    --color-primary: #F7F7F7;
    --color-secondary: #EEEEEE;
    --color-font: #393E46;
    --color-accent: #929AAB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}



button[type=submit]:hover, a:hover {
    filter: brightness(1.15);
}


/* Header */
.header {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1080px;
    height: 3rem;
}

.logo {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.githubLink {
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0.3rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--color-accent);
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.githubLink>svg{
    height: 100%;
}
.githubLink>svg>g{
    fill: var(--color-primary);
}


/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 400px;
    max-width: 90%;
    height: 300px;
    background-color: var(--color-secondary);
    border-radius: 0.8rem;
    border: 1px solid var(--color-accent);
    box-shadow: rgba(0, 0, 0, 0.16) 1px 4px 8px;
}

.formContainer>label {
    color: var(--color-font);
}

.formContainer>div {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
}
.formContainer>div>input {
    width: 100%;
    height: 2rem;
    /* border-radius: 0.3rem; */
    background-color: transparent;
    border: none;
    padding: 0.6rem 2rem 0.6rem 1rem;
    outline: none;
    border-bottom: 1px solid #d1d1d1;
    transition: all 0.2s ease-in-out;
}
.formContainer>div>input:focus {
    border-bottom: 1px solid var(--color-font);
}

.formContainer>div>span {
    width: 0;
    transform: translateX(-2rem);
    font-size: 0.8rem;
}

.formContainer>button {
    width: 50%;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #d1d1d1;
    padding: 0.4rem 0.6rem;
    outline: none;
    background-color: var(--color-accent);
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}